# Ignore database files
*.sqlite3

# Ignore static and media files
static/
media/

# Ignore environment-specific settings
.env

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore system files
__pycache__/
.DS_Store
